.grid{
    display: grid;
    gap: 0rem;
    grid-template-columns: repeat(2, 1fr);
    // padding: 1rem 1rem;
}
.grid-main{
    // display: grid;
    // gap: 0rem;
    // grid-template-columns: repeat(3, 1fr);
    // padding: 1rem 1rem;
}